@import "compass/css3";

.wireless-settings {
  float: right;
  width: 40%;
}

.network-interfaces {
  float: left;
  width: 60%;
  padding-right: 2rem;

  li {
    // Basic geometry
    clear: both;
    position: relative;
    margin-bottom: 2rem;
  }

  .network-interfaces-detail {
    // Basic geometry
    display: block;
    margin-left: 4rem;
    margin-bottom: 0.3rem;
  }

  .network-interfaces-name {
    // Typography
    text-transform: uppercase;
  }

  .network-interfaces-type {
    // Typography
    font-style: italic;
    font-size: 90%;

    // Basic geometry
    margin-bottom: 0.5rem;
  }

  .network-interfaces-label {
    // Typography
    font-weight: bold;

    // Basic geometry
    display: inline-block;
    width: 10rem;
  }

  .network-interfaces-icon {
    // Typography
    font-size: 300%;
    line-height: 75%;

    // Basic geometry
    float: left;
    margin-right: 1rem;
    vertical-align: top;
  }

  .network-interfaces-disconnected {
    color: #999;
  }
}
